html, body {
  overflow-x: hidden;
}

/* Navbar Responsive Styles */
.nav-hamburger {
  display: block;
}

@media (max-width: 768px) {
  .nav-inline-links {
    display: none !important;
  }
  
  .nav-hamburger {
    display: block !important;
  }

  nav {
    padding: 1rem 2rem !important;
  }
}

@media (min-width: 769px) {
  .nav-mobile-links {
    display: none !important;
  }
}
